.body {
  background-color: white;
}

.cage {
  background-color: DeepSkyBlue;
  display: inline-block;
  border: 10px solid firebrick;
}

.snake {
  background-color: gold;
}

.box {
	border: 1px solid black;
	display: inline-block;
	height: 50px;
	width: 50px;
}